/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/private/*
/storage/app/public/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
!/storage/app/private/.gitignore
!/storage/app/public/.gitignore
/bootstrap/cache/*.php
/vendor
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.har
svg-image-1.svg
*.pem
*.p12
*.pfx
*.crt
*.cer
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
